@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: config('colors.grey-lightest');
}

button {
  &:focus {
	outline: none;
  }
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}


p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}